node_modules/
.DS_Store
.env
build/
ios/
android/
web/
linux/
windows/
mac/
.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
